<mat-card class="perfil-card mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="profile-picture">
        <img src="assets/img/user-placeholder.jpg" alt="">
      </div>
      <div class="header-info">
        <mat-card-title class="card-title">Samuel de Melo</mat-card-title>
        <mat-card-subtitle>samuel@gmail.com</mat-card-subtitle>
      </div>
    </mat-card-header>
  
    <mat-card-content>


        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Nome</mat-label>
            <input matInput maxlength="50" placeholder="Ex.. fulano">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Ex.. 000.000.000-00">
            
            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>E-mail</mat-label>
            <input  matInput placeholder="Ex.. user@gmail.com">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Senha</mat-label>
            <input  type="password" matInput placeholder="Ex. 1234">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="Ex.. (48)99682-9940">
            <mat-icon matSuffix>call</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Cargo</mat-label>
            <input matInput placeholder="Ex.. user@gmail.com">
            <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Departamento</mat-label>
            <input matInput placeholder="Ex.. user@gmail.com">
            <mat-icon matSuffix>group</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="legacy">
            <mat-label>Permissões</mat-label>
            <input matInput placeholder="Ex.. user@gmail.com">
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        

    </mat-card-content>
  </mat-card>
  