<mat-toolbar class="toolbar">
  <button mat-icon-button  (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <img src="assets/img/home-logo.svg" alt="Imagem de Navegação">
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">

      <mat-nav-list class="navlist">
          <a mat-list-item routerLink="dashboard">
              <i class="material-icons">ssid_chart</i>
              Dashboard
          </a>
          <a mat-list-item routerLink="perfil">
              <i class="material-icons">person</i>
              Meu perfil
          </a>
          <a mat-list-item routerLink="">
              <i class="material-icons">schedule</i>
              Meu ponto
          </a>

          <a mat-list-item routerLink="">
              <i class="material-icons">sms</i>
              Solicitações
          </a>

          <a mat-list-item routerLink="">
              <i class="material-icons">touch_app</i>
              Controle de ponto
          </a>

          <a mat-list-item routerLink="">
              <i class="material-icons">settings</i>
              Configurações
          </a>

          <a mat-list-item href="https://github.com/samuel-melo1/PontoAPI-Front" target="_blank">
              <i class="material-icons">code</i>
              Github
          </a>
          <a mat-list-item (click)="logout()" >
              <i class="material-icons">logout</i>
              Logout
          </a>
      </mat-nav-list>
  </mat-drawer>

<router-outlet></router-outlet>
</mat-drawer-container>



