
.header {
    width: 100%;
    height: 5rem; /* Define a altura fixa do header */
    display: flex;
    align-items: center;
   padding-left: 1rem;
   background-color: rgb(29, 165, 147);
}

.toolbar{
    background-color: rgb(29, 165, 147);
}

.container {
    /* height: calc(100vh - 5rem); */
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    box-shadow: none; /* Remove sombras caso existam */
    background-color: white; /* Garante fundo branco */
}

img {
    height: 15rem; /* Define a altura fixa da imagem */
    width: 10rem;  /* Ajusta a largura automaticamente para manter a proporção */
}

.sidenav {
    width: 15rem; /* Define a largura fixa */
    color: white;
    margin: 0; /* Remove margens extras */
    padding: 0; /* Remove padding interno */
    box-shadow: none; /* Remove qualquer borda ou sombra */
}

.sidenav a {
    color: rgb(49, 41, 41);
}

.sidenav a:hover{
   color: rgb(29, 165, 147);
}

.sidenav i {
    margin-right: 0.6rem;
}

.menu{
    margin: 1rem  0 0 1rem;
    color: white;
    background: rgb(29, 165, 147);
}

.navlist {
    padding: 0; /* Remove padding interno */
    margin: 0; /* Remove margens */
}

/*     background: #53a9f5; */
